{% include "header.html" %}
        <h1>Cart</h1>

            {% if session["cart"] is defined %}
            <table>
            <tr><th>Name</th><th>Quantity</th><th>Subtotal</th></tr>
            {% for item in session["cart"].values() %}
            <form action="/removefromcart" method="POST">
            <tr><td>{{ item["name"] }}</td><td>{{ item["qty"] }}</td><td>{{ item["subtotal"] }}</td><td><input type="hidden" name="qty" value = '{{ item["qty"] }}'/><input type="hidden" name="subtotal" value = '{{ item["subtotal"] }}'/><input type="hidden" name="name" value = '{{ item["name"] }}'/><input type="submit" value="Remove"/></td></tr>
            </form>
            {% endfor %}
            <tr><td colspan=2><b>Total</b></td><td><b>{{ session["cart"].values()|sum(attribute="subtotal") }}</b></td></tr>
            </table>
            <a href="checkout">Checkout</a>
            {% else %}
            <div>Your cart is empty</div>
            {% endif %}

{% include "footer.html" %}

